.opp{
    background-color: rgb(242, 240, 240);
    height: 400px;
    margin-top: 100px;
    width: 1200px;
    margin-right: 40px;
    margin-left: 50px;
    line-height: 10px;
    border: 5 px solid black;
    border-radius: 10px;
    
}
.tru{
    width: 100px;
    height: 80px;
    margin-left: 20px;
}
.destru{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
    margin-top: -40px;
    font-size: 28px;
}
.tgl{
    margin-left: 1050px;
    margin-top: -20px;
}
.kode{
    margin-left: 1053px;
    margin-top: 7px;
}
.ano{
    width: 150px;
    height: 120px;
    margin-top: 22px;
    margin-left: 130px;
}
.desano{
    margin-left: 320px;
    margin-top: -100px;
    font-weight: bold;

}
.desano1{
    margin-left: 320px;
    margin-top: 6px;
    font-weight: bold;

}
.orga{
    width: 150px;
    height: 120px;
    margin-top: 100px;
    margin-left: 130px;
}
.desorga{
    margin-left: 320px;
    margin-top: -100px;
    font-weight: bold;

}
.desorga1{
    margin-left: 320px;
    margin-top: 6px;
    font-weight: bold;

}
.Menunggu{
   border-radius: 10px;
    height: 50px;
    width: 180px;
    background-color: orange;
    text-align: center;
    margin-left: 990px;
    line-height: 45px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}
