.row{
    width: 750px;
    height: 170px;
}
.head{
    background-image: url(../picture/bacground.png);
    background-size: 1348px;
    background-size: cover;
    width: 1348px;
    height: 800px;
} 
img.col{
    height: 100px;
    width: 100px;
    margin-right: 20px;
    float: left;
    margin-left: 20px;
}

img.col1{
    float: left;
}

.col1{
    margin-top: 20px;
}

p.col{
    color: #555555;
    margin-top: 55px;
    float: left;
}

p.col1{
    font-size: 25px;
}
.teks{
    margin-top: 200px;
    margin-left: 50px;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
span{
    font-weight: 540;
}
.kanan{
    margin-left: 800px;
    margin-top: 50px;
    font-size: 25px;
}
.cur {
    align-items: center;
    margin-top: -160px;
    float: right;
    margin-right: 0px;
}
textPath{
    font-family: 'Imprima', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.curved-text-container {
    width: 600px;
    height: 0px;
}

svg text {
    width: 500px;
    height: 0px;
    font-size: 25px;
    fill: #000;
    letter-spacing: 4px;
}

.tekstukar{
    float: right;
    margin-right: 190px;
    margin-top: 100px;
    font-family: 'Imprima', sans-serif;
}

.tukar{
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    margin-left: 185px;
}

.slide2{
    background-color: white;
    width: 1348px;
    height: 800px;
}

.slide2 h1{
    margin-left: 40px;
    margin-top: 40px;
    font-family: 'Inter' sans-serif;
    color: #F88922;
    font-weight: bold;
    text-;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.slide2 p{
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Inter' sans-serif;
    font-weight: bold;
}
.slide2 span{
    color: #F88922;
    font-weight: bold;
}
.merchaint{
    font-family: 'Inter' sans-serif;
    font-size: 30px;
    font-size: bold;
}
.mercha{
    background-color: #EFEAD6;
    width: 1268px;
    height: 0px;
}